h1 {
    color: #181717;
    font-size: 250%;
    text-align: center;
    text-transform: uppercase;
}
td{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2{
    text-align: center;
}